/*main.css*/

html, body, main, header, footer, h1, h2, h3, h4, ul, a, p{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue';
    list-style-type: none;
    color: #999999;
}
header{
    padding: 02.9607698% 0;
    background: url("/img/hc-logo.png") 350px 52px no-repeat;
    background-size: 08.8823094%;

}
footer{
    padding: 40px;

}
footer h4{
    border-top: solid thin #999999;
    padding-top: 15px;
    text-align: right;
}
header img{
    width: 10%;
    float: left;
}
main{
    margin:0 auto;
    width: 70%;
    padding: 05.4421769% 0;
}

nav{
    padding: 0 17.1591992%;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: #c3c3aa;
}
h1{
    font-size: 4.375em;
    text-align: center;
    font-weight: 400;
    padding: 01.9065777%;
}

main h4{
    text-align: center;
    padding: 02.7173913% 04.7554348% 02.7173913% 04.7554348%;
}
nav ul{
    text-align: right;
}
nav li{
    display: inline;
}
nav li{
    padding: 00.723589%;
    font-size: 1.25em;
}
main ul{
    padding: 05.4495913% 05.4347826% 09.2592593% 05.4347826%;
}

.members li:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.members img{
    width:30%;
    padding: 02.8818444%;
    float: left;

}
.members p{
    padding: 14.4092219% 01.4409222% 01.4409222% 0;
}
.hateds{
    text-align: center;
}
.hateds p{
    padding: 05.7636888%;
}
.hateds img{
    max-width: 80%;
    text-align: center;
}


h3{
    font-weight: bold;
    padding: 00.6793478% 0 01.3586957% 06.7934783%;
    font-size: 1.5em;
    border-bottom: solid thin #999999;
    margin: 0 0 02.0380435% 0;
    text-align: left;
}


/*  */
@media screen and (max-width: 320px) {
    main {
        width: 100%;
    }

    h1{
        font-size: 3.375em;
    }

    .members img {
        float: none;
        width: 50%;
    }
    /* ----- Cuisine ----- */
    .members p {
        padding: 0 0 15% 0;
    }
    nav{
        padding: 5% 1.1591992%;
    }
    .members p{
        padding: 14.4092219% 01.4409222% 01.4409222% 0;
    }
    a{
        font-size: 0.9em;
    }
}