html,
body {
    height: 100%;
    overflow-x: hidden;
}

#content {
    height: 90%;
}

#left-half {
    height: 100%;
    background-image: url(/images/background.jpg);
}

#left-half img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#right-half {
    height: 100%;
    padding-top: 1%;
}

#left-half {
    height: 100%
}

#right-half img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.slick-slider,
.slick-slide,
.slick-list,
.slick-track {
    height: 100%;
    margin-bottom: 0;
}

@media(max-width:480px) {
    body {
        background-color: aliceblue;

    }
}