html,
body {
    height: 100%;
}

header {
    background-image: url("/images/header.jpg");
    height: 20%;
    opacity: 0.6;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 0.1%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#footer{
    height: 10%;
}
footer {
    border-top: 1px solid #e5e5e5;
}
#owl-demo{
    height: 70%;
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.nav{
    height: 7%;
    padding-top: 0.5%;
}